.drac-select--outline {
  background: transparent;
  border-color: var(--blackTernary);
}

.drac-select-outline:disabled {
  color: var(--white);
}

.drac-select--outline:disabled + .drac-select_arrow {
  color: var(--white);
  opacity: 0.5;
}
