<p>
	<span class="drac-badge drac-bg-purple">
		<span class="drac-text drac-line-height drac-text-black">Badge</span>
	</span>
</p>


<p>
	<span class="drac-badge drac-bg-animated">
		<span class="drac-text drac-line-height drac-text-black">Fun Badge</span>
	</span>
</p>


<p>
	<span class="drac-badge drac-bg-orange drac-badge-outline drac-text-orange drac-m-sm">
		<span class="drac-text drac-line-height drac-text-orange">Outline</span>
	</span>

	<span class="drac-badge drac-bg-cyan-transparent drac-badge-subtle drac-text-cyan drac-m-sm">
		<span class="drac-text drac-line-height drac-text-cyan">Subtle</span>
	</span>
</p>
