<p>
	<input
		placeholder="Input"
		class="drac-input drac-input-white drac-text-white"
	/>
</p>

<p>
	<input
		placeholder="purple"
		class="drac-input drac-input-purple drac-text-purple drac-m-xs"
	/>

	<input
		placeholder="green"
		class="drac-input drac-input-green drac-text-green drac-m-xs"
	/>
</p>

<p>
  <input
    placeholder="Password"
    type="password"
    class="drac-input drac-input-white drac-text-white drac-my-sm"
  />
	<input
    placeholder="Date"
    type="date"
    class="drac-input drac-input-white drac-text-white drac-my-sm"
  />
	<input
    placeholder="Email"
    type="email"
    class="drac-input drac-input-white drac-text-white drac-my-sm"
  />
	<input
    placeholder="Number"
    type="number"
    class="drac-input drac-input-white drac-text-white drac-my-sm"
  />
	<input
    placeholder="Range"
    type="range"
    class="drac-input drac-input-white drac-text-white drac-my-sm"
  />
	<input
    placeholder="Telephone"
    type="tel"
    class="drac-input drac-input-white drac-text-white drac-my-sm"
  />
</p>
