<p>
  <button class="drac-btn drac-bg-purple drac-m-sm">Purple</button>
	<button class="drac-btn drac-bg-purple-cyan drac-m-sm">Purple Cyan</button>
</p>

<p>
  <button class="drac-btn drac-bg-purple drac-m-sm">Normal</button>
	<button class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-purple drac-m-sm">Ghost</button>
	<button class="drac-btn drac-bg-purple drac-btn-outline drac-text-purple drac-m-sm">Outline</button>
</p>


<p>
  <button class="drac-btn drac-bg-purple drac-m-sm" disabled="">Normal</button>
	<button class="drac-btn drac-bg-purple-transparent drac-btn-ghost drac-text-purple drac-m-sm" disabled="">Ghost</button>
	<button class="drac-btn drac-bg-purple drac-btn-outline drac-text-purple drac-m-sm" disabled="">Outline</button>
</p>
