.drac-input {
	border-radius: var(--rounded-lg);
	box-sizing: border-box;
	width: 100%;
	outline: none;
	background: var(--black-secondary);
	border: 0.3rem solid transparent;
	transition: 0.3s ease-in-out all;
	padding: 0 var(--spacing-4);
	height: var(--spacing-10);
	font-size: var(--font-md);
	font-family: var(--default-font-family);
}

.drac-input:focus {
	border-color: var(--white);
}

.drac-input::placeholder {
	color: var(--black-ternary);
}
