.drac-btn--outline {
    border-width: var(--border-size);
    border-style: solid;
    background-color: transparent;
  }

  .drac-btn--outline:disabled {
    background-color: transparent;
    border-color: var(--disabled);
    color: var(--disabled);
  }

  .drac-btn--outline:disabled .drac-text {
    color: var(--disabled);
  }
