:root {
	--black: hsl(230deg 15% 15%);
	--black-secondary: hsl(230deg 15% 30%);
	--black-ternary: hsl(230deg 15% 70%);
	--black-light: hsl(230deg 15% 15% / 5%);
	--grey: hsl(230deg 15% 30%);
	--grey-secondary: hsl(230deg 15% 45%);
	--grey-ternary: hsl(230deg 15% 75%);
	--grey-light: hsl(230deg 15% 30% / 5%);
	--white: hsl(60deg 30% 96%);
	--white-secondary: hsl(60deg 30% 100%);
	--white-light: hsl(60deg 30% 96% / 5%);
	--cyan: hsl(170deg 100% 75%);
	--cyan-secondary: hsl(170deg 100% 90%);
	--cyan-light: hsl(170deg 100% 75% / 5%);
	--green: hsl(115deg 100% 75%);
	--green-secondary: hsl(115deg 100% 90%);
	--green-light: hsl(115deg 100% 75% / 5%);
	--orange: hsl(35deg 100% 75%);
	--orange-secondary: hsl(35deg 100% 90%);
	--orange-light: hsl(35deg 100% 75% / 5%);
	--pink: hsl(330deg 100% 75%);
	--pink-secondary: hsl(330deg 100% 90%);
	--pink-light: hsl(330deg 100% 75% / 5%);
	--purple: hsl(250deg 100% 75%);
	--purple-secondary: hsl(250deg 100% 90%);
	--purple-light: hsl(250deg 100% 75% / 5%);
	--red: hsl(10deg 100% 75%);
	--red-secondary: hsl(10deg 100% 90%);
	--red-light: hsl(10deg 100% 75% / 5%);
	--yellow: hsl(60deg 100% 75%);
	--yellow-secondary: hsl(60deg 100% 90%);
	--yellow-light: hsl(60deg 100% 75% / 5%);
	--cyan-transparent: hsl(170deg 100% 75% / 10%);
	--green-transparent: hsl(115deg 100% 75% / 10%);
	--orange-transparent: hsl(35deg 100% 75% / 10%);
	--pink-transparent: hsl(330deg 100% 75% / 10%);
	--purple-transparent: hsl(250deg 100% 75% / 10%);
	--red-transparent: hsl(10deg 100% 75% / 10%);
	--yellow-transparent: hsl(60deg 100% 75% / 10%);
	--disabled: hsl(230deg 15% 50%);
	--gradient-degree: 135deg;
	--glow-color: rgb(255 255 255 / 25%);
	--accent-color: var(--purple);
}
