
@each $from, $to in (purple, yellow, cyan, pink), (cyan, pink, green, purple) {
  .bg-$(from)-$(to) {
    background: linear-gradient(
      var(--gradientDegree),
      var(--$(from)) 0%,
      var(--$(to)) 100%
    );
  }

  .bg-$(from)-$(to)-transparent {
    background: linear-gradient(
      var(--gradientDegree),
      var(--$(from)-transparent) 0%,
      var(--$(to)-transparent) 100%
    );
  }
}
  
@each $color in black, grey, white, cyan, green, orange, pink, purple, red, yellow {
  .bg-$(color) {
    background-color: var(--$(color));
  }

  .bg-$(color)-secondary {
    --accentColor: var(--$(color)Secondary);
    background-color: var(--$(color)Secondary);
  }

  .bg-$(color)-transparent {
    --accentColor: var(--$(color)-transparent);
    background-color: var(--$(color)-transparent);
  }
}