@each $color in black, grey, white, cyan, green, orange, pink, purple, red, yellow {
    .drac-border-$(color) {
      border-color: var(--$(color));
      --borderColor: var(--$(color));
    }
}

@each $color in black, white, cyan, green, orange, pink, purple, red, yellow {
  .drac-border-$(color) {
    border-color: var(--$(color));
  }
}

.drac-rounded-none {
  border-radius: var(--rounded-none);
}

.drac-rounded-sm {
  border-radius: var(--rounded-sm);
}

.drac-rounded {
  border-radius: var(--rounded);
}

.drac-rounded-md {
  border-radius: var(--rounded-md);
}

.drac-rounded-lg {
  border-radius: var(--rounded-lg);
}

.drac-rounded-xl {
  border-radius: var(--rounded-xl);
}

.drac-rounded-2xl {
  border-radius: var(--rounded-2xl);
}

.drac-rounded-3xl {
  border-radius: var(--rounded-3xl);
}

.drac-rounded-full {
  border-radius: var(--rounded-full);
}
