.drac-select-outline.drac-select-black,
.drac-select-outline.drac-select-black:focus,
.drac-select.drac-select-black:focus {
  border-color: var(--black);
}
.drac-select-outline.drac-select-white,
.drac-select-outline.drac-select-white:focus,
.drac-select.drac-select-white:focus {
  border-color: var(--white);
}
.drac-select-outline.drac-select-cyan,
.drac-select-outline.drac-select-cyan:focus,
.drac-select.drac-select-cyan:focus {
  border-color: var(--cyan);
}
.drac-select-outline.drac-select-green,
.drac-select-outline.drac-select-green:focus,
.drac-select.drac-select-green:focus {
  border-color: var(--green);
}
.drac-select-outline.drac-select-orange,
.drac-select-outline.drac-select-orange:focus,
.drac-select.drac-select-orange:focus {
  border-color: var(--orange);
}
.drac-select-outline.drac-select-pink,
.drac-select-outline.drac-select-pink:focus,
.drac-select.drac-select-pink:focus {
  border-color: var(--pink);
}
.drac-select-outline.drac-select-purple,
.drac-select-outline.drac-select-purple:focus,
.drac-select.drac-select-purple:focus {
  border-color: var(--purple);
}
.drac-select-outline.drac-select-red,
.drac-select-outline.drac-select-red:focus,
.drac-select.drac-select-red:focus {
  border-color: var(--red);
}
.drac-select-outline.drac-select-yellow,
.drac-select-outline.drac-select-yellow:focus,
.drac-select.drac-select-yellow:focus {
  border-color: var(--yellow);
}

/* Sizes */

.drac-select.drac-select-sm {
  height: var(--spacing-8);
  font-size: var(--font-sm);
}

.drac-select.drac-select-lg {
  height: var(--spacing-12);
  font-size: var(--font-lg);
}
