.drac-box {
  box-sizing: border-box;
}

.drac-box h1,
.drac-box h2,
.drac-box h3,
.drac-box h4 {
  margin: 0;
}

@each $size in none, xxs, xs, sm, md, lg {
  .p-$(size) {
    padding: var(--spacing-$(size));
  }

  .px-$(size) {
    padding-left: var(--spacing-$(size));
    padding-right: var(--spacing-$(size));
  }

  .py-$(size) {
    padding-top: var(--spacing-$(size));
    padding-bottom: var(--spacing-$(size));
  }

  .pl-$(size) {
    padding-left: var(--spacing-$(size));
  }

  .pr-$(size) {
    padding-right: var(--spacing-$(size));
  }

  .pt-$(size) {
    padding-top: var(--spacing-$(size));
  }

  .pb-$(size) {
    padding-bottom: var(--spacing-$(size));
  }
}

@each $size in auto, none, xxs, xs, sm, md, lg {
  .m-$(size) {
    margin: var(--spacing-$(size));
  }

  .mx-$(size) {
    margin-left: var(--spacing-$(size));
    margin-right: var(--spacing-$(size));
  }

  .my-$(size) {
    margin-top: var(--spacing-$(size));
    margin-bottom: var(--spacing-$(size));
  }

  .ml-$(size) {
    margin-left: var(--spacing-$(size));
  }

  .mr-$(size) {
    margin-right: var(--spacing-$(size));
  }

  .mt-$(size) {
    margin-top: var(--spacing-$(size));
  }

  .mb-$(size) {
    margin-bottom: var(--spacing-$(size));
  }
}

/* -- Height & Width -- */

@each $size in auto, none, full, xxs, xs, sm, md, lg, xl, 2xl, 3xl, 4xl, 5xl, 6xl, 7xl, 8xl {
  .h-$(size) {
    height: var(--sizing-$(size));
  }

  .w-$(size) {
    width: var(--sizing-$(size));
  }
}
