

@each $color in black, white, cyan, green, orange, pink, purple, red, yellow {
  .tabs-$(color) .tab-active:after {
    background: var(--$(color));
    transform: scaleX(1);
  }

  .tabs-$(color) .tab-active .tab-link {
    color: var(--$(color));
  }
}
