

@each $color in black, white, cyan, green, orange, pink, purple, red, yellow {
  .drac-tabs-$(color) .drac-tab-active:after {
    background: var(--$(color));
    transform: scaleX(1);
  }

  .drac-tabs-$(color) .drac-tab-active .drac-tab-link {
    color: var(--$(color));
  }
}
